rules_version = '2';

service cloud.firestore {
 match /databases/{database}/documents {
    match /user_interested_courses/{courseId} {
     allow read, update:   if request.auth != null && request.auth.uid==courseId;
     allow create: if request.auth != null; 
    }

    match /user_interested_courses/{document=**} {
     allow read:   if get(/databases/$(database)/documents/user_credentials/$(request.auth.uid)).data.role=="admin";
    }

    match /user_credentials/{userId}{
      allow read: if request.auth.uid==userId;
      allow create: if true; 
    }

   match /user_contact/{document=**} { 
      allow write: if true; 
}

    match /user_contact/{documentId} { // Added 'match' keyword
      allow create: if !exists(/databases/$(database)/documents/user_contact/$(documentId)) 
                 || !resource.data.keys().hasAny(['user_email']) 
                 || resource.data.user_email != request.resource.data.user_email;
    } 
  }
}