@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
.toggleMenu {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format("woff2");
  }
}
.btn {
  @apply rounded-full py-3 px-4 uppercase text-xs font-semibold cursor-pointer text-white bg-primary box-shadow;
}
